*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: cornflowerblue;
}


.cabecalho{
  height: 150px;
  width: 100%;
  background-color: cornflowerblue;
}

.menu{
    width: 100%;
    height: 70px;
    background-color: rgb(44, 42, 42);
    color:white;
    padding-top: 20px;
    position: relative;
    
   
}

.menu a{
   
    margin-left: 20px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 5px;
}

.menu a:hover{
    background-color: white;
    color: black;

}

main{

    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    height: 1500px;
    background-color: white;
    border-radius: 30px 30px 0px 0px;
    box-shadow: rgba(118, 118, 121, 0.644) 10px 2px;
    position: relative;
}

h1{
    text-align: center;
    padding-top: 50px;
    color: teal;
    font-weight: bolder;
    background-color: rgb(197, 193, 193);
    position: absolute;
    display: block;
    margin-left: 5px;
    padding: 20px;
    margin-top: 30px;
    border-radius: 0px 20px 20px 0px;
    font-family: Arial, Helvetica, sans-serif
    ;

}
p{
    width: 50%;
    display: block;
    padding-top: 150px;
    padding-left: 20px;
    text-align: justify;
    text-indent: 20px;
    
    
}

footer{
    margin-left: 7%;
    margin-right: 7%;
    background-color: black;
    color: white;
    margin-top: 10px;
    height: 100px;
    margin-bottom: 5px;
    text-align: center;
    
}


footer h2{
    padding-top: 35px;
  
}